<div class="page-header">
	<h1><i class="icon-repeat"> </i>Cloning <%= @cloning.id %></h1>
</div>
<div class="tabbable">
	
  <ul class="nav nav-tabs">
	<li class="active"><a href="#info" data-toggle="tab"><%= @cloning.growth_plate.name %></a></li>
	<li><a href="#protocol" data-toggle="tab">Protocol</a></li>
    
  </ul>

  <div class="tab-content">
		<div class="tab-pane active" id="info">
			<p>
									
				<%= render :partial => "layouts/plate_96_wells", :locals => {:plate => @cloning.growth_plate.wells_index }%>
				
				<dl class="dl-horizontal">
					<dt>Date</dd>
					<dd><%= @cloning.created_at %></dt>		
				</dl>
				
				<%= link_to 'Update', edit_cloning_path(@transformation), :class => 'btn'%>
			</p>
			
		</div>
	
	
	
	<div class="tab-pane" id="protocol">
		<p><%= raw @cloning.protocol.content %></p>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Reagent</th>
					<th>Stock Concentration</th>
					<th>Final Concentration</th>
					<th>Volume for One Reaction</th>
					<th>Volume for <%= @cloning.clones.size + @cloning.protocol.scaling_factor %> Reactions</th>
				</tr>
			</thead>
			<tbody>
				<% @cloning.protocol.protocol_reagents.each do |r| %>
					<tr>
						<td><%= r.name %></td>
						<td><%= r.stock_concentration %></td>
						<td><%= r.final_concentration %></td>
						<td><%= r.volume_reaction %></td>
						<td><%= Unit(r.volume_reaction) * (@cloning.clones.size + @cloning.protocol.scaling_factor)%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>