<div class="page-header">
	<h1><i class="icon-repeat"> </i>Cloning <%= @cloning.id %></h1>
</div>
<div class="tabbable">
	
  <ul class="nav nav-tabs">
	<li class="active"><a href="#info" data-toggle="tab"><%= @cloning.growth_plate.name %></a></li>
	<li><a href="#protocol" data-toggle="tab">Protocol</a></li>
    
  </ul>

  <div class="tab-content">
		<div class="tab-pane active" id="info">
			<div class="row-fluid">
				<div class="span4">					
					<%= render :partial => "layouts/commons/plates/growth_plate_96_wells", :locals => {:plate => @cloning.growth_plate.wells_index }%>
				
					<dl class="dl-horizontal">
						<dt>Date</dd>
						<dd><%= @cloning.created_at %></dt>		
					</dl>
				
					<%= link_to 'Update', edit_cloning_path(@cloning), :class => 'btn'%>
				</div>
				<div class="span6">
					<%= render :partial => "plate_legend", :locals => {:index => @cloning.growth_plate.index_by_part }%>
				</div>
			</div>
			
		</div>
	
	<div class="tab-pane" id="protocol">
		<%= render :partial => "protocols/protocol_index", :locals => {:protocol => @cloning.protocol, :number_reactions => @cloning.clones.size }%>
	</div>
</div>