<div class="page-header">
	<h1><i class="icon-cog"> </i>Your Parts Status</h1>
</div>
<p>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Part</th>
				<th>sPCR</th>
				<th>fPCR</th>
				<th>Pass PCR</th>
				<th>Transformations</th>
				<th>Clones</th>
				<th>Pass csPCR</th>
				<th>Pass Sequencing</th>
			</tr>
		</thead>
		<tbody>		
			<% @parts.each do |p| %>
				<tr>
					<td><%= link_to p.name, part_path(p) %></td>
					<td>
						<span class="<%= p.spcr_products.reaction_pass.for_user(current_user).size > 0 ? "badge badge-success" : "badge badge-important"%>">
							<%= p.spcr_products.reaction_pass.for_user(current_user).size %>
						</span>
					</td>
					<td>
						<span class="<%= p.fpcr_products.reaction_pass.for_user(current_user).size > 0 ? "badge badge-success" : "badge badge-important"%>">
							<%= p.fpcr_products.reaction_pass.for_user(current_user).size %>
						</span>
					</td>
					<td>
						<span class="<%= p.fpcr_products.qc_pass.for_user(current_user).size > 0 ? "badge badge-success" : "badge badge-important"%>">
							<%= p.fpcr_products.qc_pass.for_user(current_user).size %>
						</span>
					</td>
					<td>
						<span class="<%= p.transformations.reaction_pass.for_user(current_user).size > 0 ? "badge badge-success" : "badge badge-important"%>">
							<%= p.transformations.for_user(current_user).size %>
						</span>
					</td>
					<td>
						<span class="<%= p.clones.picked.for_user(current_user).size > 0 ? "badge badge-success" : "badge badge-important"%>">
							<%= p.clones.for_user(current_user).size %>
						</span>
					</td>
					<td>
						<span class="<%= p.clones.qc_pass.for_user(current_user).size > 0 ? "badge badge-success" : "badge badge-important"%>">
							<%= p.clones.qc_pass.for_user(current_user).size %>
						</span>
					</td>
					<td></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>