<div class="page-header">
	<h1><i class="icon-repeat"> </i>Transformation <%= @transformation.id %></h1>
</div>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab"><%= @transformation.ligation_product %></a></li>
	<li><a href="#protocol" data-toggle="tab">Protocol</a></li>
  </ul>

  <div class="tab-content">
		<div class="tab-pane active" id="info">
				<dl class="dl-horizontal">
					
					<dt>White</dt>
					<dd><%= @transformation.white_count %></dd>

					<dt>Blue</dt>
					<dd><%= @transformation.blue_count %></dd>

					<dt>Light Blue</dt>
					<dd><%= @transformation.light_blue_count %></dd>
		
					<dt>Strain</dt>
					<dd><%= @transformation.strain %></dd>

					<dt>Status</dt>
					<dd><%= @transformation.status %></dd>

					<dt>Quality Control</dt>
					<dd><%= @transformation.quality_control %></dd>
					
					<dt>Date</dt>
					<dd><%= @transformation.created_at %></dd>
					
					<dt>Notes</dt>
					<dd><%= @transformation.note %></dd>
							
				</dl>
			
		</div>

		<div class="tab-pane" id="protocol">
			<%= render :partial => "protocols/protocol_index", :locals => {:protocol => @transformation.protocol, :number_reactions => 1 }%>
		</div>

	</div>
</div>

<div class="form-actions"> 
	<%= link_to 'Update', edit_transformation_path(@transformation), :class => 'btn'%>
</div>
