<div class="page-header">
	<h1><i class="icon-random"> </i>fPCR <%= @fpcr.id %></h1>
</div>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
		<li><a href="#protocol" data-toggle="tab">Protocol</a></li>
	    <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Oligo Plates<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<% @fpcr.fpcr_products.each do |product| %>
				<li><a href="#<%= product.part.name %>" data-toggle="tab"><%= product.part.name %></a></li>
				<% end %>
			</ul>
		</li>
	  </ul>
	
	  <div class="tab-content">
			<div class="tab-pane active" id="info">
		    <table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Parts</th>
						</tr>
					</thead>
					<tbody>		
						<% @fpcr.fpcr_products.each do |product| %>
							<tr>
								<td>
									<%= product.tpcr_product.part.name  %>
									<% if product.quality_control.nil? %>
										<span class="label label-warning">Pending</span>
									<% elsif product.quality_control.name == "PASS" %>
										<span class="label label-success">PASS</span>
									<% else %>
										<span class="label label-important"><%= product.quality_control %></span>	
									<% end %>
								</td>	
							</tr>
						<% end %>
					</tbody>
				</table>

				<dl class="dl-horizontal">
					<dt>Status</dt>
					<dd><%= @fpcr.status.name %></dd>
					<dt>Device</dt>
					<dd><%= @fpcr.device.name %></dd>
					<dt>Date</dt>
					<dd><%= @fpcr.created_at %></dd>
					<dt>Note</dt>
					<dd><%= @fpcr.note %></dd>		
				</dl>
				
			</div>
			
			<% @fpcr.fpcr_products.each do |product| %>
				<div class="tab-pane" id="<%= product.part.name %>">
					<p>
						<% product.part.oligo_plates.each do |p| %>
							<%= render :partial => "layouts/commons/plates/oligo_plate_96_wells.html.erb", :locals => {:plate => p.index_wells_for_part(product.part) }%>
						<% end %>
					</p>
				</div>
			<% end %>
			
			<div class="tab-pane" id="protocol">
				<%= render :partial => "protocols/protocol_index", :locals => {:protocol => @fpcr.protocol, :number_reactions => @fpcr.fpcr_products.size }%>
			</div>
	  </div>
	</div>
	<div class="form-actions"> 
		<%= link_to 'Update', edit_fpcr_path(@fpcr), :class => 'btn'%>
	</div>
</p>
