<div class="page-header">
	<h1><i class="icon-reload"> </i>Update csPCR <%= @cspcr.id %></h1>
</div>
<p>
	<%= simple_form_for(@cspcr, :html => {:class => 'form-horizontal' }) do |f| %>
		<div class="tabbable">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
		    <li><a href="#qc" data-toggle="tab">Quality Control</a></li>
		  </ul>

		  <div class="tab-content">
				<div class="tab-pane active" id="info">
					<%= f.association :status, :collection => @statuses %>
					<%= f.association :device, :collection => @devices %>
				</div>
				<div class="tab-pane" id="qc">
						<%= f.association :cspcr_products do |p| %>
							<%= p.association :quality_control, :collection => @quality_controls, :label => p.object.clone.name %>
						<% end %>
				</div>
			
			</div>
		</div>
		<div class="form-actions">
			<%= f.button :submit, 'Update', :class => 'btn btn-primary'%>
			<%= link_to 'Cancel', cspcr_path(@cspcr), :class => 'btn'%>
		</div>

	<% end %>
</p>
