<div class="page-header">
	<h1><i class="icon-random"> </i>Run csPCR</h1>
</div>
<p>
	<%= simple_form_for(@cspcr, :html => {:class => 'form-horizontal' }) do |f| %>
		<%= f.association :parts, :as => :check_boxes %>
		<%= f.association :device %>

		<div class="form-actions">
			<%= f.button :submit, 'Run', :class => 'btn btn-primary'%>
			<%= link_to 'Cancel', cspcrs_path, :class => 'btn'%>
		</div>
	<% end %>
</p>
