<div class="page-header">
	<h1><i class="icon-random"> </i>csPCR <%= @cspcr.id %></h1>
</div>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
	    <li><a href="#plate" data-toggle="tab">Plate</a></li>
	    <li><a href="#protocol" data-toggle="tab">Protocol</a></li>
	  </ul>
	
	  <div class="tab-content">
			<div class="tab-pane active" id="info">
					<dl class="dl-horizontal">
						<dt>Status</dd>
						<dd><%= @cspcr.status %></dt>
						<dt>Device</dd>
						<dd><%= @cspcr.device %></dt>
						<dt>Date</dd>
						<dd><%= @cspcr.created_at %></dt>		
					</dl>
				
					<%= link_to 'Update', edit_cspcr_path(@cspcr), :class => 'btn'%>
			</div>
			
			<div class="tab-pane" id="plate">
				<div class="row-fluid">
					<div class="span4">
						<%= render :partial => "layouts/plate_96_wells", :locals => {:plate => @cspcr.cspcr_plate.wells_index }%>
					</div>
					<div class="span4">
						<%= render :partial => "plate_legend", :locals => {:index => @cspcr.cspcr_plate.index_by_part }%>
					</div>
				</div>
			</div>
			
			<div class="tab-pane" id="protocol">
				<%= render :partial => "protocols/protocol_index", :locals => {:protocol => @cspcr.protocol, :number_reactions => @cspcr.cspcr_products.size }%>
			</div>
	  </div>
	</div>
	
</p>
