<div class="page-header">
	<h1><i class="icon-picture"> </i>Update Ligations <%= @ligation.id %></h1>
</div>
<p>
	<%= simple_form_for(@ligation, :html => {:class => 'form-horizontal' }) do |f| %>
		
		<ul class="nav nav-tabs">
	    	<li class="active"><a href="#spcrs" data-toggle="tab">sPCRs</a></li>
	    	<li><a href="#fpcrs" data-toggle="tab">fPCRs</a></li>
	  	</ul>

	  <div class="tab-content">
			<div class="tab-pane active" id="spcrs">
				<%= f.association :ligation_products do |p| %>
					<%= p.association :quality_control, :collection => @quality_controls, :label => "#{p.object.pcr_product}" %>
					<%= p.association :plasmid %>
				<% end %>
			</div>
		
		</div>			
		<%= f.association :status, :collection => @statuses %>
		
		<div class="form-actions">
			<%= f.button :submit, 'Update', :class => 'btn btn-primary'%>
			<%= link_to 'Cancel', pcr_gel_path(@pcr_gel), :class => 'btn'%>
		</div>
	<% end %>
</p>
