<div class="page-header">
	<h1><i class="icon-picture"> </i>csPCR Gel <%= @gel.id %></h1>
</div>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
	    <li><a href="#order" data-toggle="tab">Loading Order</a></li>
	    <li><a href="#images" data-toggle="tab">Images</a></li>
	    <li><a href="#protocol" data-toggle="tab">Protocol</a></li>
	  </ul>
	
	  <div class="tab-content">
			<div class="tab-pane active" id="info">
		    <table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>csPCR Products</th>
						</tr>
					</thead>
					<tbody>
						<% @gel.cspcr_gel_lanes.each do |lane| %>
							<tr>
								<td>
									<%= lane.cspcr_product %>
									<% if lane.quality_control.nil? %>
										<span class="label label-warning">Pending</span>
									<% elsif lane.quality_control.name == "PASS" %>
										<span class="label label-success">PASS</span>
									<% else %>
										<span class="label label-important"><%= lane.quality_control %></span>	
									<% end %>
								</td>	
							</tr>
						<% end %>						
					</tbody>
				</table>

				<dl class="dl-horizontal">
					<dt>Status</dt>
					<dd><%= @gel.status %></dd>
					<dt>Date</dt>
					<dd><%= @gel.created_at %></dd>		
					<dt>Notes</dt>
					<dd><%= @gel.note %></dd>
				</dl>
				
			</div>
			
			<div class="tab-pane" id="order">
				<ul id="lanes" class="nav nav-tabs nav-stacked" data-update-url="<%= url_for :controller => :cspcr_gels, :action => :sort, :id => @gel.id %>">
					<% @gel.cspcr_gel_lanes.order(:position).each do |lane| %>
						<%= content_tag_for :li, lane do %>
							<a href="#"><i class="icon-resize-vertical span1"> </i><%= lane.cspcr_product.to_s %></a>
					  <% end %>
					<% end %>
				</ul>
			</div>
			
			<div class="tab-pane" id="images">
				<ul class="thumbnails">
					<% @gel.cspcr_gel_images.each do |img| %>
						<li class="span3">
							<a href="<%= cspcr_gel_cspcr_gel_image_path(@gel, img) %>" class="thumbnail">
								<%= image_tag(img.cspcr_gel_image_file.url) %>
							</a>
					  </li>
					<% end %>
				</ul>
				
				<h3>Upload an Image</h3>
				<%= simple_form_for([@gel,@gel.cspcr_gel_images.build], :html => {:class => 'form-horizontal' }) do |f| %>
					
					<%= f.file_field :cspcr_gel_image_file %>
										
					<div class="form-actions">
						<%= f.button :submit, 'Upload', :class => 'btn btn-primary'%>
					</div>
					
				<% end %>
			</div>
			<div class="tab-pane" id="protocol">
				<p>
					<%= render :partial => "protocols/protocol_index", :locals => {:protocol => @gel.protocol, :number_reactions => @gel.cspcr_products.size }%>
				</p>
			</div>
	  </div>
	</div>
	
	<div class="form-actions"> 
		<%= link_to 'Update', edit_cspcr_gel_path(@gel), :class => 'btn'%>
	</div>
</p>
