<div class="page-header">
	<h1><i class="icon-reload"> </i>Update Protocol: <%= @protocol.name %></h1>
</div>
<p>
	<%= simple_form_for([:admin,@protocol], :html => {:class => 'form-horizontal' }) do |f| %>
		<%= f.input :process, :disabled => true, :label => 'Step' %>
		<%= f.input :name %>
		<%= f.input :content %>
		<%= f.input :scaling_factor %>			
		

		<div class="form-actions">
			<%= f.button :submit, 'Update', :class => 'btn btn-primary'%>
			<%= link_to 'Cancel', admin_protocols_path, :class => 'btn'%>
		</div>
<% end %>

</p>

