<div class="page-header">
	<h1><i class="icon-user"> </i>Update group</h1>
</div>
<p>
	<%= simple_form_for([:admin,@group], :html => {:class => 'form-horizontal' }) do |f| %>
		<ul class="nav nav-tabs">
	    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
	    <li><a href="#users" data-toggle="tab">Users</a></li>
	  </ul>

		<div class="tab-content">
			<div class="tab-pane active" id="info">
				<%= f.input :name, :disabled => true %>
				<%= f.input :description %>
			</div>
			<div class="tab-pane" id="users">
				<%= f.association :users, :as => :check_boxes %>
			</div>
	  </div>

		<div class="form-actions">
			<%= f.button :submit, 'Save', :class => 'btn btn-primary'%>
			<%= link_to 'Cancel', admin_group_path(@group), :class => 'btn'%>
		</div>
	<% end %>
</p>
