<div class="page-header">
	<h1><i class="icon-random"> </i>sPCR <%= @spcr.id %></h1>
</div>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
		<li><a href="#protocol" data-toggle="tab">Protocol</a></li>
	    <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Oligo Plates<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<% @spcr.spcr_products.each do |product| %>
				<li><a href="#<%= product.part.name %>" data-toggle="tab"><%= product.part.name %></a></li>
				<% end %>
			</ul>
		</li>
	    
	  </ul>
	
	  <div class="tab-content">
			<div class="tab-pane active" id="info">
		    <table class="table table-bordered table-striped">
					
					<thead>
						<tr>
							<th>Parts</th>
						</tr>
					</thead>
					
					<tbody>		
						<% @spcr.spcr_products.each do |product| %>
							<tr>
								<td><%= product.part.name  %></td>	
							</tr>
						<% end %>
					</tbody>
					
				</table>

				<dl class="dl-horizontal">
					<dt>Status</dd>
					<dd><%= @spcr.status.name %></dt>
					<dt>Device</dd>
					<dd><%= @spcr.device.name %></dt>
					<dt>Date</dd>
					<dd><%= @spcr.created_at %></dt>		
				</dl>
				
				<%= link_to 'Update', edit_spcr_path(@spcr), :class => 'btn'%>
			</div>
			
			
				<% @spcr.spcr_products.each do |product| %>
					<div class="tab-pane" id="<%= product.part.name %>">
						<p>
							<%= render :partial => "layouts/plate_96_wells", :locals => {:plate => product.part.wells_index }%>
						</p>
					</div>
				<% end %>
		
			
			<div class="tab-pane" id="protocol">
				<%= render :partial => "protocols/protocol_index", :locals => {:protocol => @spcr.protocol, :number_reactions => @spcr.spcr_products.size }%>
			</div>
	  </div>
	</div>
	
</p>
