<div class="page-header">
	<h1><i class="icon-random"> </i>New tPCR</h1>
</div>
<p>
	<%= simple_form_for(@tpcr, :html => {:class => 'form-horizontal' }) do |f| %>
		

		<ul class="nav nav-tabs">
	    <li class="active"><a href="#parts" data-toggle="tab">Parts</a></li>
	    <li><a href="#device" data-toggle="tab">Info</a></li>
	  </ul>

		<div class="tab-content">
			<div class="tab-pane active" id="parts">
				<%= f.association :parts, :collection => current_user.parts, :as => :check_boxes %>
			</div>
			<div class="tab-pane" id="device">
				<%= f.association :device, :collection => @devices %>
			</div>
	  </div>




		<div class="form-actions">
			<%= f.button :submit, 'Save', :class => 'btn btn-primary'%>
			<%= link_to 'Cancel', tpcrs_path, :class => 'btn'%>
		</div>
	<% end %>
</p>
