<div class="page-header">
	<h1><i class="icon-random"> </i>tPCR <%= @tpcr.id %></h1>
</div>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
		<li><a href="#protocol" data-toggle="tab">Protocol</a></li>
	    <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Growth Plates<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<% @tpcr.tpcr_products.each do |product| %>
				<li><a href="#<%= product.part.name %>" data-toggle="tab"><%= product.part.name %></a></li>
				<% end %>
			</ul>
		</li>
	    
	  </ul>
	
	  <div class="tab-content">
			<div class="tab-pane active" id="info">
		    <table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Parts</th>
						</tr>
					</thead>
					<tbody>		
						<% @tpcr.tpcr_products.each do |product| %>
							<tr>
								<td><%= product.part.name  %></td>	
							</tr>
						<% end %>
					</tbody>
				</table>

				<dl class="dl-horizontal">
					<dt>Status</dd>
					<dd><%= @tpcr.status.name %></dt>
					<dt>Device</dd>
					<dd><%= @tpcr.device.name %></dt>
					<dt>Date</dd>
					<dd><%= @tpcr.created_at %></dt>		
				</dl>
				
				<div class="form-actions"> 
					<%= link_to 'Update', edit_tpcr_path(@tpcr), :class => 'btn'%>
				</div>
			</div>
			
			<% @tpcr.tpcr_products.each do |product| %>
				<div class="tab-pane" id="<%= product.part.name %>">
					<p>
						<%= render :partial => "layouts/plate_96_wells", :locals => {:plate => product.part.wells_index }%>
					</p>
				</div>
			<% end %>
			
			<div class="tab-pane" id="protocol">
				<%= render :partial => "protocols/protocol_index", :locals => {:protocol => @tpcr.protocol, :number_reactions => @tpcr.tpcr_products.size }%>
			</div>
	  </div>
	</div>
	
</p>
