<p id="notice"><%= notice %></p>

<p>
  <b>Cspcr gel image:</b>
  <%= @cspcr_gel_image_annotation.cspcr_gel_image_id %>
</p>

<p>
  <b>Label:</b>
  <%= @cspcr_gel_image_annotation.label %>
</p>

<p>
  <b>Position:</b>
  <%= @cspcr_gel_image_annotation.position %>
</p>


<%= link_to 'Edit', edit_cspcr_gel_image_annotation_path(@cspcr_gel_image_annotation) %> |
<%= link_to 'Back', cspcr_gel_image_annotations_path %>
