<ul class="nav nav-pills">
	<!-- Workspace menu -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
      Workspace
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Your Parts', parts_path %></li>
      <li><%= link_to 'Protocols', protocols_path %></li>	
      <li class="divider"></li>
      <li><%= link_to 'Personal Info', users_path %></li>
			<% if can? :manage, :admin %>
				<li class="divider"></li>
				<li><%= link_to 'Administration', admin_root_path %></li>
				<li class="divider"></li>
			<% end %>
      <li><%= link_to 'Logout', signout_path %></li>
    </ul>
  </li>
	<li class="divider-vertical"/>

	<!-- PCR menu -->
	<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
      PCR
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
	    <li class="nav-header">sPCRs</li>
	  	<li><a href="<%= spcrs_path %>" >Status <span style ="float:right" class="label"><%= current_user.spcrs.pendings.size %></span></a></li>
      <li><%= link_to 'Run', new_spcr_path %></li>
			<li class="divider"></li>
      <li class="nav-header">tPCRs</li>
      <li><a href="<%= tpcrs_path %>" >Status <span style ="float:right" class="label"><%= current_user.tpcrs.pendings.size %></span></a></li>
      <li><%= link_to 'Run', new_tpcr_path %></li>
			<li class="divider"></li>
      <li class="nav-header">fPCR</li>
      <li><a href="<%= fpcrs_path %>" >Status <span style ="float:right" class="label"><%= current_user.fpcrs.pendings.size %></span></a></li>
      <li><%= link_to 'Run', new_fpcr_path %></li>
			<li class="divider"></li>
      <li class="nav-header">csPCRs</li>
      <li><a href = <%= cspcrs_path %> >Status <span style ="float:right" class="label"><%= current_user.cspcrs.pendings.size %></span></a></li>
      <li><%= link_to 'Run', new_cspcr_path %></li>
    </ul>
  </li>

	<!-- Gel menu -->
	<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
      Gels
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="nav-header">PCR Gels</li>
      <li><a href="<%= pcr_gels_path %>" >Status <span style ="float:right" class="label"><%= current_user.pcr_gels.pendings.size %></span></a></li>
      <li><%= link_to 'Run', new_pcr_gel_path %></li>
			<li class="divider"></li>
      <li class="nav-header">csPCR Gels</li>
      <li><a href = <%= cspcr_gels_path %> >Status <span style ="float:right" class="label"><%= current_user.cspcr_gels.pendings.size %></span></a></li>
      <li><%= link_to 'Run', new_cspcr_gel_path %></li>
    </ul>
  </li>
	<li class="divider-vertical"/>

	<!-- Ligation menu -->
	<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
      Ligations
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="<%= ligations_path %>">Status <span style ="float:right" class="label"><%= current_user.ligations.pendings.size %></span></a></li>
      <li><%= link_to 'Run', new_ligation_path %></li>
    </ul>
  </li>

	<!-- Transformations menu -->
	<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
      Transformations
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="<%= transformations_path %>">Status <span style ="float:right" class="label"><%= current_user.transformations.pendings.size %></span></a></li>
      <li><%= link_to 'Run', new_transformation_path %></li>
    </ul>
  </li>

	<!-- Cloning menu -->
	<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
      Cloning
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
		<li><a href="<%= clonings_path %>">Status <span style ="float:right" class="label"><%= current_user.clones.growing.size %></span></a></li>
      	<li><%= link_to 'Run', new_cloning_path %></li>
    </ul>
  </li>

	<li class="divider-vertical"/>
	
	<!-- Sequencing menu -->
	<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
      Sequencing
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Status', sequencings_path %></li>
      <li><%= link_to 'Run', new_sequencing_path %></li>
    </ul>
  </li>

</ul>
